<section class="layout-aside__section">
  <div id="<%= dom_id(model, :favorites_count) %>" class="progress-bar__container">
    <%= content_tag(:span, title: t("decidim.favorites.favorites_count.times_added_to_favorites", count: favorites_count), data: tooltip_data, class: "progress-bar__number") do %>
      <span aria-hidden="true"><%= favorites_count %></span>
    <% end %>
    <div class="progress-bar__units font-normal"><%= t("title", scope: "decidim.favorites.favorites.index") %></div>
    <span class="sr-only"><%= t("decidim.favorites.favorites_count.times_added_to_favorites", count: favorites_count) %></span>
  </div>
</section>
