<% add_decidim_page_title(t(".title")) %>
<%
edit_link(
  decidim_admin.static_pages_path,
  :read,
  :static_page
)
%>

<%= render layout:"layouts/decidim/shared/layout_center" do %>
  <div class="text-center py-12">
    <h1 class="h1 decorator inline-block text-left">
      <%= t("title", scope: "decidim.favorites.favorites.index") %>
    </h1>
  </div>

  <div class="page__container">
    <%= t("description_html", scope: "decidim.favorites.favorites.index") %>

    <div class="editor-content">
      <div class="aria-hidden mt-4">
        <p><%= t("icon_description", scope: "decidim.favorites.favorites.index") %></p>
        <p><%== cell("decidim/favorites/favorite_button", nil).example %></p>
      </div>
    </div>
  </div>
<% end %>
