<% add_decidim_page_title(t("decidim.pages.index.title")) %>
<%
edit_link(
  decidim_admin.static_pages_path,
  :read,
  :static_page
)
%>

<%= render layout:"layouts/decidim/shared/layout_center" do %>
  <div class="text-center py-12">
    <h1 class="h1 decorator inline-block text-left">
      <%= t("title", scope: "decidim.favorites.favorites.show") %>
    </h1>
  </div>

  <div class="vertical-tabs">
    <%= render "side_panel" %>

    <section>
      <%= t("description_html", scope: "decidim.favorites.favorites.show") %>

      <h2 class="h3 mt-4"><%= @type[:name] %></h2>

      <div class="editor-content">
        <div class="aria-hidden mt-4">
          <div id="ideas" class="columns">
            <div class="row small-up-1 medium-up-2 card-grid">
              <% @resources.each do |resource| %>
                <%= card_for(resource) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
<% end %>
