<div id="<%= dom_id(model, :favorite) %>">
  <% if current_user %>
    <% if current_user_favoriting? %>
      <%= button(t("decidim.favorites.favorite_button.remove_from_favorites"), decidim_favorites.favorite_path(model.to_sgid.to_s, button_params), :delete) do %>
        <% if display_text? %>
          <span class="link-text"><%= t("decidim.favorites.favorite_button.remove_from_favorites") %></span>
        <% else %>
          <span class="show-for-sr"><%= t("decidim.favorites.favorite_button.remove_from_favorites") %></span>
        <% end %>
        <%= render :icon_fill %>
      <% end %>
    <% else %>
      <%= button(t("decidim.favorites.favorite_button.add_to_favorites"), decidim_favorites.favorites_path(button_params), :post) do %>
        <% if display_text? %>
          <span class="link-text"><%= t("decidim.favorites.favorite_button.add_to_favorites") %></span>
        <% else %>
          <span class="show-for-sr"><%= t("decidim.favorites.favorite_button.add_to_favorites") %></span>
        <% end %>
        <%= render :icon_hollow %>
      <% end %>
    <% end %>
  <% else %>
    <%= action_authorized_button_to(
      :favorite,
      decidim_favorites.favorites_path,
      resource: model,
      class: button_classes,
      params: { favoritable_gid: model.to_sgid.to_s },
      data: tooltip_data(true),
      :'aria-haspopup' => true,
      title: t("decidim.favorites.favorite_button.sign_in_before_favorite"),
      remote: true) do
    %>
      <% if display_text? %>
        <span class="link-text"><%= t("decidim.favorites.favorite_button.add_to_favorites") %></span>
      <% else %>
        <span class="show-for-sr"><%= t("decidim.favorites.favorite_button.add_to_favorites") %></span>
      <% end %>
      <%= render :icon_hollow %>
    <% end %>
  <% end %>
</div>
